body{

    height: 100vh;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(222, 247, 255);
    text-align: center;
    overflow: hidden;
}

h1{

    font-size: 3.125rem;
}

span{

    font-size: 6rem;
    font-weight: bold;
}

.btn{

    background: transparent;
    text-transform: uppercase;
    color: rgb(20, 20, 20);
    display: inline-block;
    font-size: 1rem;
    border: 2px solid rgb(20, 20, 20);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(20, 20, 20,0.2);
    border-radius: 8px;
    margin: 8px;
    padding: 5px 12px;
}